/*
 *
 * Copyright 2003-2005 (c) Yves Perrin <yves.perrin--cern.ch>
 *
 * The Savane project is free software; you can redistribute it and/or
 * modify it under the terms of the gnu general public license
 * as published by the free software foundation; either version 2
 * of the license, or (at your option) any later version.
 *
 * The Savane project is distributed in the hope that it will be useful,
 * but without any warranty; without even the implied warranty of
 * merchantability or fitness for a particular purpose.  see the
 * gnu general public license for more details.
 *
 * You should have received a copy of the gnu general public license
 * along with the Savane project; if not, write to the free software
 * foundation, inc., 51 Franklin St, Fifth Floor, Boston, MA  02110-1301  USA
 *
 * $Id$
 *
*/


/* GUIDELINES VERSION FOLLOWED: 1.15 */

@import "internal/base.css";

/**********************************************************************
 *
 * Very basic (mostly text) items:
 *
 **********************************************************************/

body {
  /* DONT CHANGE width, margin and padding size, or you ll be very sorry for
	MSIE users */
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
  background-color: #FFFFFF;
  font-family: arial,helvetica;
  color: #333333;
}

a { text-decoration: none; color: #006699;}
a:hover { color: #ff0000; }
a:active { color: #000000; }
.boxtitle a { color: #FFFFFF; }

.unavailable {
  text-decoration: none;
  color: #cab79f;
}

.unavailable:hover {
  text-decoration: none;
  color: #cab79f;
}

.hometitle {
  background-color: tan;
  text-align: center;
  border:2px;
  border-top: solid blanchedalmond;
  border-left: solid blanchedalmond;
  border-bottom: solid #996633;
  border-right: solid #996633;
  margin-top: 0;
  padding-top: 15px;
  padding-bottom: 15px;
}

h1 {
  color: #FFFFFF;
  background-color: tan;
  text-align: center; 
}

h2.toptitle {
  color: #339966;
  background-color: bisque;
  text-align: left;
  vertical-align: middle;
  text-shadow: 0.1em 0.1em #eacdab;
}

h3 {
  border-bottom: thin solid #cab79f;
  text-shadow: 0.1em 0.1em #f6e4cd;
}

h3 a:hover {
  background-color: #f6f2e6;
}

.error { color: #980000; }
.footer {  color: #333333; }

img.bigicon {
  vertical-align: middle;
}

/* mimic boxhighlight */
.highlight { 
  background-color: #fff4b2; 
} 


.quote {
	color: #828282;
}



/**********************************************************************
 *
 * Alignement, main tables
 *
 **********************************************************************/


.realbody { border: 0; color: #333333; }


.main { 
  /* DONT CHANGE width, margin and padding size, or you ll be very sorry for
	MSIE users */
  margin-top: 2px;
  background-color: #fffdf7;
  vertical-align: top;
  border-spacing: 5px; 
  border: 1px solid tan;
  padding-top: 3px;
  padding-left: 3px;
  padding-right: 3px;
  width: 83%;
  /* DONT CHANGE width, margin and padding size, or you ll be very sorry for
	MSIE users */
}



/**********************************************************************
 *
 * Menus
 *
 **********************************************************************/

.topmenu {
  border-spacing: 0;
  border-top: thin solid #e0cd9f;  
}

.topmenutitle {
	background: #efe3bd;
  	border: thin solid #e0cd9f;
	border-top: none;
  	text-shadow: 0.1em 0.1em #e2d5af
}

.topmenuitemmainitem {
	background: #efe3bd;
  	border: thin solid #e0cd9f;
	border-top: none;
}



ul.topmenuitemsubmenu {
	background: #FFF8D6;
 	border: thin solid #EEE2BD;
}


ul.topmenuitemsubmenu li {
 	border: thin solid #EEE2BD;
	border-top: none;
	border-left: 0.3em solid #e0cd9f;
}


li.topmenuitemsubmenu:hover {
	background: #FFF7E8;

}

li.topmenuitemsubmenuseparator {
	background-color: #e0cd9f;
}



/* we cannot use bold here, it makes an extra space with some konqueror
  version (RHEL) */
.tabselect { background-color: #e0cd9f; color: #006699; }
.tabselect:hover { color: #ff0000; background-color: #e0cd9f; }

.tabs:hover { color: #ff0000; background-color: #FFF8D6; }
.topmenuitemmainitem:hover { background-color: #FFF8D6; }

.menu {
  /* DONT CHANGE width, margin and padding size, or you ll be very sorry for
	MSIE users */
  background-color: bisque;
  border: 1px solid tan;
  margin-top: 2px;
  margin-left: 2px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  width: 14%;
  /* DONT CHANGE width, margin and padding size, or you ll be very sorry for
	MSIE users */
}


.menutitle {
  padding-top: 0;
  vertical-align: top;
  font-weight: bold;
  text-align: center;
  background-color: tan;
  border: 1px;
  border-top: thin solid blanchedalmond;
  border-left: thin solid blanchedalmond;
  border-bottom: thin solid #996633;
  border-right: thin solid #996633;
  text-shadow: 0.1em 0.1em #996633;
  color: #FFFFFF;
  font-size: smaller;
}

.menuitem {
  list-style-type: none;
  vertical-align: middle;
  text-align: left;
  border: 0;
  border-bottom: thin solid #ECD5B6;
  color: #333333;
  font-size: smaller;
}
.menuitem:before {
        content: url("../images/CERN.theme/point.png");
}

.relatedrecipesitem { 
  	border-top: thin solid #f7dfbf;
}

.menu a {
	display: inline;
}

/**********************************************************************
 *
 * Boxes
 *
 **********************************************************************/


.box {
  border-spacing: 2px;
  border: 1px solid #339966;
  margin-left: 0%;
  margin-right: 0%;
  width: 100%;
  font-size: smaller;
}

.boxleft {
  border-spacing: 2px;
  border:1px solid #339966;
}

.boxtitle {
  background-color: #339966;
  border: 1px;
  border-top: thin solid limegreen;
  border-left: thin solid limegreen;
  border-bottom: thin solid #006600;
  border-right: thin solid #006600;
  text-shadow: 0.1em 0.1em #006600;
  color: #FFFFFF; 
}

.boxtitle a:hover { 
	background-color: #3aab72;
}

.boxitemalt { 
  background-color: cornsilk;
  text-align: left;
  color: #333333;
  border-bottom: thin solid #eae2b9;
  padding: 1%;
}

.boxitem { 
  background-color: #fffced; 
  text-align: left; 
  color: #333333; 
  padding: 1%;
  border-bottom: thin solid #eae2b9;
}

.boxoptions { 
  background-color: #fffced; 
  color: #333333; 
  padding: 1%;
  border: thin solid #eae2b9;
}

.boxhighlight { 
  background-color: #fff4b2; 
  text-align: left; 
  color: #333333;  
  padding: 1%;
  border-bottom: thin solid #d3c99c;
} 



/**********************************************************************
 *
 * Forms
 *
 **********************************************************************/

input {
  background-color: #ffffff;
  color: #000000;
}
select {
  background-color: #ffffff;
  color: #000000;
}
option {
  background-color: #ffffff;
  color: #000000;
}

textarea {
  background-color: #ffffff;
  color: #000000;
}


/**********************************************************************
 *
 * Priorities
 *
 **********************************************************************/

/* base.css CSS provides almost the same but small priority are lighter,
   so the contrast is more important

.priora { background-color: #f9f7f2; }
.priorb { background-color: #f4f0e8; }
.priorc { background-color: #efeade; }
.priord { background-color: #eae3d5; }
.priore { background-color: #e2dbcc; }
.priorf { background-color: #ddd7c7; }
.priorg { background-color: #d8d1be; }
.priorh { background-color: #d6ceb8; }
.priori { background-color: #d3caaf; }
*/
