/*
 *
 * Copyright 2002-2005 (c) Mathieu Roy <yeupou--gnu.org>
 *                         Stéphane Urbanovski <s.urbanovski--ac-nancy-metz.fr>
 *                         Sylvain Beucler <beuc--beuc.net>
 *
 *
 * The Savane project is free software; you can redistribute it and/or
 * modify it under the terms of the gnu general public license
 * as published by the free software foundation; either version 2
 * of the license, or (at your option) any later version.
 *
 * The Savane project is distributed in the hope that it will be useful,
 * but without any warranty; without even the implied warranty of
 * merchantability or fitness for a particular purpose.  see the
 * gnu general public license for more details.
 *
 * You should have received a copy of the gnu general public license
 * along with the Savane project; if not, write to the free software
 * foundation, inc., 51 Franklin St, Fifth Floor, Boston, MA  02110-1301  USA
 *
 * $Id$
 *
*/

/* GUIDELINES VERSION FOLLOWED: 1.12 */

@import "internal/base.css";

/**********************************************************************
 *
 * Very basic (mostly text) items:
 *
 **********************************************************************/

body { 
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
  font-family: arial,helvetica;
  color: #333333;
/*  background-color: #ffe4b7; */
/*  background-color: #eae3d7; */
  background-color: #ffffff;
}

a { text-decoration: none; color: #641212;}
a:hover { text-decoration: underline; color: #c40f0f; }
a:active { color: #ff0000; }

.unavailable {
	color: #905050;
	text-decoration: none;
}
.unavailable:hover { 
	color: #B07070;
}

.footer {
 color: #333333;
/*  background-color: #CCBB88; */
 background-color: #ffe4b7;
 text-align: center;
/*  border: solid #998855; */
 border: solid #e0c080;
 border-width: 0 thin thin 0;
 margin-left: 1%;
 margin-right: 1%;
}
.warn { color: #aa2200; }
.error { font-weight: bold; color: #aa2200; }


/* Titles */

/* <h2> Page title */
h2 {
	text-indent: 0.3em;
}
/* <h3> Section title */
h3 {
	text-indent: 1em;
	border-bottom: thin solid #e0c080;
	background-color: #fff0d0; 
}
/* <h4> Small section title */
/* <h5> Input form label */
h5 {
	font-weight: normal;
	background-color: #fff7ea; 
	border: #ffe4b2 solid thin;
}

.highlight  {	
	background-color: #ffe0db;
	border-left: thin dotted #e0c080;
	border-right: thin dotted #e0c080;
	border-bottom: thin dotted #e0c080;
	color: #333333;
}

/**********************************************************************
 *
 * Alignement, main tables
 *
 **********************************************************************/

.realbody { 
	border-spacing: 0px;
	border: none;
}

.main {
  	background-color: #ffffff; 
/* 	border-bottom: thin solid #333333;  */
/* 	border-top: thin solid #333333;   */
/* 	border-right: thin solid #333333; */
	padding-top: 10px;
	padding-left: 1%;
	padding-right: 0;
 	margin-left: 160px;
 	margin-right: 0;
        width: auto;
}


/* Our users and I don't like fixed feedback: 
	yeupou, 2006-09-20:
	But we wont deliver a theme upstream that breaks savane behavior
	It is now possible to configure savane to have a non-fixed menu.
	However, if a site-specific CSS still want to have a non-standard
	behavior, I think this CSS should no longer be distributed along
	with Savane (which is not really an issue).
	For instance, we can rename this theme OldSavannah and you'll be
	free to have another brand new Savannah theme tuned as you want
	on your site. 

	
.feedback {
	position: relative;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}
.feedbackerror {
	position: relative;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}
.feedbackerrorandsuccess {
	position: relative;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}
.feedbackback {
	position: relative;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}
*/



/**********************************************************************
 *
 * Menus
 *
 **********************************************************************/

.menu { 
 background-color: #ffe4b7;
 width: 150px;
 padding: 5px;
/*  border: thin dotted #e0c080; */
}

.menutitle {
	font-weight: bold;
	text-align: left;
	color: #333333;
	border-bottom: thin dotted #e0c080;
}

.menuitem {
	list-style-type: none;
	text-align: right;
	color: #333333;
	border-bottom: thin dotted #e0c080;
	padding-right : 3%;
}

.topmenu {
	background-color: #f9e4a2;
/* This is breaking the layout
#	margin-left: 20px;
	margin-left: 0;
	margin-right: 0; 
 */
	border-left: thin solid #000000;
	border-top: thin solid #000000;
	border-bottom: thin solid #000000;
	border-right: none;
	width: auto;
}


.topmenutitle {
	font-style: italic; 
}


ul.topmenuitemsubmenu li {
	background-color: #ffeecc;
	border: 1px dotted #E0C080;
}

li.topmenuitemsubmenu:hover {
	text-decoration: underline;
}

/* we cannot keep it in bold, it makes an extra space with some konqueror
  version (RHEL) */
.tabselect { text-decoration: underline; color: #000000; /* font-weight: bold; */ }
.tabselect:hover { text-decoration: underline; /* font-weight: bold; */ }

/**********************************************************************
 *
 * Boxes
 *
 **********************************************************************/

.box { 
	width: 98%;
	margin-left: 1%;
  	margin-right: 1%; 
}

.boxtitle  {	
	background-image: url("../images/Savannah.theme/leopard.png");
	background-color: #eddb5a;
	border: thin outset #641212;
	color: #000000;
}

.boxitem  {
	background-color: #fffbed;
	border-left: thin dotted #e0c080;
	border-right: thin dotted #e0c080;
	border-bottom: thin dotted #e0c080;
	color: #333333;
	padding: 1%;
}

.boxitemalt  {	
	background-color: #ffeecc;
	border-left: thin dotted #e0c080;
	border-right: thin dotted #e0c080;
	border-bottom: thin dotted #e0c080;
	color: #333333;
	padding: 1%;
}

.boxhighlight  {	
	background-color: #ffe0db;
	border-left: thin dotted #e0c080;
	border-right: thin dotted #e0c080;
	border-bottom: thin dotted #e0c080;
	color: #333333;
}

.boxoptions  {	
	background-color: #ffeecc;
	border: thin dotted #e0c080;
	color: #333333;
}


/**********************************************************************
 *
 * Forms
 *
 **********************************************************************/

input {
	background-color: #fff9e0;
	color: #841212;
}
input:hover { color: #ff0000; }
select {
	background-color: #fff9e0;
	color: #841212;
}

/* select:hover { color: #ff0000; } */

textarea {
	background-color: #fff9e0;
	color: #000000;
}
textarea:hover {
	color: #ff0000;
}

div.inputfield {
	margin:	10px 1px 10px 1px;
}

/* text before inputs */
.preinput {
 	color: #727272;
	font-style: italic;
}
