<!-- Savannah - Project registration STEP 1 -->
<!-- $Id$  BEGIN -->

<h3>Use of Project Account</h3>
<p> 
The space given to you on this server is given for the expressed
purpose of advancing Software (software development,
documentation, organizing events, system administration of machines
etc.).  
</p>

<h3>Advertisements</h3>
<p>
You may not place any revenue-generating advertisements on a site hosted 
here. But you can point people to commercial support
offerings for your Software project.
</p>

<h3>Rights to Code</h3>
<p>
You will be presented with a choice of Software licenses for
your project. If you wish to use another license that is not listed, let us know
and we will review these requests on a case-by-case basis. 
</p>

<p>
It is our intent to provide a permanent home for all versions of your project.
We do reserve the right, however, to terminate your project if there is due
cause.
</p>
<!-- $Id$  END -->
