# This file is part of the Savane project
# <http://gna.org/projects/savane/>
#
# $Id$ 
#
#  No copyright on this file: no code.

# Normally, every bin for savane should be in the following paths
# FIXME: it should depends on configure options.
PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:

################################################ MAIL RELATED
#
# List of mail-/etc/aliases must be rebuild regularly 
*/10 * * * *	root	sv_aliases --cron

# New list creation
*/30 * * * *	root	sv_mailman --cron >> /var/log/sv_database2system.log

# Register public lists on mail-archive.com
# Completely deactivated by default, because it register lists on an 
# external site.
#25 5    * * 6	root	sv_mailman_and_mailarchivedotcom --cron >/dev/null

################################################ DATABASE RELATED
#
# These scripts do not need root access, access to the database is enough
# 
# Database cleaning
*/25 * * * *	root    sv_cleaner --cron
48 12 2 * *	root	sv_cleaner --cron --big-cleanup

# Reminder
4 4 * * * 	root    sv_reminder --cron
25 18 * * *	root    sv_reminder --cron

# Spam checks
*/5 * * * *	root    sv_spamcheck_peon
*/9 * * * *	root    sv_spamcheck_monitor
35 */5 * * *	root    sv_spamcheck_scholar 2> /dev/null > /dev/null


################################################ ACCOUNTS RELATED
#
# Sync groups/project in the database and on the system.
# Sync usere in the database and on the system.
# These script must run in a correct order, groups before users
30 */2 * * *    root    sv_groups  --cron && sv_users --cron 


################################################ BACKUPS RELATED
#
# This section is highly specific to an installation. We provide here
# only samples. 

# Daily backups of the Savane database: CONFIGURE IT!
#7 5 * * *	root    mysqldump savane > /dumps/savannah.sql 2>&1

# Daily cvs tarball
#6 5 * * *	root    sv_daily_cvs_tarball --MISSING PARAMETERS.
#                                            (try with --help)

# END
