sv_extra_daily_cvs_tarball
sv_extra_daily_cvs_tarball_forbid
sv_extra_import_cvs
sv_extra_pserver_cvsroots
sv_extra_viewcvs_forbidden
sv_extra_dead_projects
sv_extra_merge_projects
sv_extra_daily_svn_tarball
sv_extra_svn_postcommit_brigde
