/* stone age menu css overrides.
 * 
 * Copyright 2006     Mathieu Roy <yeupou--gnu.org>
 * Copyright 2015     Karl Berry
 * See the changelog file for a detailed list of changes
 *
 *  http://gna.org/p/savane
 *
 * This file is part of Savane.
 * 
 * Savane is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 * 
 * Savane is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 * 
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 *
*/

/* This is supposed to provide the stone age menu.
   Of course, nothing fancy should be here. Only removal of fancy things.
*/

.topmenu {
	border: none;
	margin-right: 1em;
	padding-bottom: 0;
}

.topmenutitle {
	float: none;
	padding-left: 1%;
	padding-right: 1%;
}

.topmenuitem {
	border: none;
	padding: 0;
}

li.topmenuitemmainitem {
	float: none;
        position: static; 
}

/* a little extra space between items helps readability */
li.topmenuitemmainitem a { 
	padding: 0; 
	margin-right: .3em;
}
